# Project Overview and Dataset

### Practice about all types of Naive_Bayes and types of dataset that work on Naive_Bayes   ( Categorical - Numerical - Mixed between categorical and numerical ).

### We use dataset handle to understand the Naive_Bayes and how to deal with it.

## Read Dataset

In [ ]:
# Read dataset using pandas.
import pandas as pd

data_example_1 = pd.read_csv('data-all-categorical.data')

data_example_1.head()

In [2]:
# show the data types of dataset.
data_example_1.dtypes

Day            object
Outlook        object
Temperature    object
Humidity       object
Wind           object
PlayTennis     object
dtype: object

In [3]:
# Show what include of all categorical columns.
print(data_example_1['Outlook'].unique())
print(data_example_1['Temperature'].unique())
print(data_example_1['Humidity'].unique())
print(data_example_1['Wind'].unique())
print(data_example_1['PlayTennis'].unique())

['Sunny' 'Overcast' 'Rain']
['Hot' 'Mild' 'Cool']
['High' 'Normal']
['Weak' 'Strong']
['No' 'Yes']

## Encoding dataset

In [4]:
# Encoding data. ==> Binary and ordinary data types
data_encoded = data_example_1.replace({
    'Outlook': {'Sunny': 0, 'Overcast': 1, 'Rain': 2},
    'Temperature': {'Hot': 0, 'Mild': 1, 'Cool': 2},
    'Humidity': {'High': 0, 'Normal': 1},
    'Wind': {'Weak': 0, 'Strong': 1},
    'PlayTennis': {'No': 0, 'Yes': 1}
})

data_encoded.head()

  Day  Outlook  Temperature  Humidity  Wind  PlayTennis
0  D1        0            0         0     0           0
1  D2        0            0         0     1           0
2  D3        1            0         0     0           1
3  D4        2            1         0     0           1
4  D5        2            2         1     0           1

In [5]:
# show the data types of data before encoded.
data_encoded.dtypes

Day            object
Outlook         int64
Temperature     int64
Humidity        int64
Wind            int64
PlayTennis      int64
dtype: object

## Splitting data to input and output

In [6]:
# Split dataset to input and output.
data_input = data_encoded.drop(columns = ['Day','PlayTennis'])
data_output = data_encoded['PlayTennis']

data_input.head()

   Outlook  Temperature  Humidity  Wind
0        0            0         0     0
1        0            0         0     1
2        1            0         0     0
3        2            1         0     0
4        2            2         1     0

In [7]:
# Show the output only.
data_output.head()

0    0
1    0
2    1
3    1
4    1
Name: PlayTennis, dtype: int64

## Deal with Categorical data in Navie_Bayes

In [8]:
# import naive_bayes.
# The first type of naive_bayes deal with Categorical data only.

from sklearn.naive_bayes import CategoricalNB

## Train, Validation and Test Dataset

In [9]:
# Take object from naive_vayes to use it.
cat_nb = CategoricalNB()

# Train Model.
cat_nb.fit(data_input, data_output)

# Predict the value of output.
y_pred = cat_nb.predict(data_input)

In [10]:
# Import accuracy_score to know accuray of model.
from sklearn.metrics import accuracy_score

# Calculate accuracy of model.
accuracy_score(data_output, y_pred)

0.9285714285714286

## Deal with another dataset

In [11]:
# Read secound dataset using pandas.
data_example_2 = pd.read_csv('data-with-numerical.data')

data_example_2.head()

  Day   Outlook  Temperature  Humidity    Wind PlayTennis
0  D1     Sunny           85        85    Weak         No
1  D2     Sunny           80        90  Strong         No
2  D3  Overcast           83        86    Weak        Yes
3  D4      Rain           70        96    Weak        Yes
4  D5      Rain           68        80    Weak        Yes

In [12]:
# Show the data types of dataset.
data_example_2.dtypes

Day            object
Outlook        object
Temperature     int64
Humidity        int64
Wind           object
PlayTennis     object
dtype: object

## Encoding dataset

In [13]:
# Encoding data ==> Binary and ordinary data types.
data_encoded = data_example_2.replace({
    'Outlook': {'Sunny': 0, 'Overcast': 1, 'Rain': 2},
    'Wind': {'Weak': 0, 'Strong': 1},
    'PlayTennis': {'No': 0, 'Yes': 1}
})

data_encoded.head()

  Day  Outlook  Temperature  Humidity  Wind  PlayTennis
0  D1        0           85        85     0           0
1  D2        0           80        90     1           0
2  D3        1           83        86     0           1
3  D4        2           70        96     0           1
4  D5        2           68        80     0           1

## Splitting data to input and output

In [14]:
# Split data to input and output.
data_input = data_encoded[['Temperature', 'Humidity']]
data_output = data_encoded['PlayTennis']

data_input.head()

   Temperature  Humidity
0           85        85
1           80        90
2           83        86
3           70        96
4           68        80

In [15]:
# Show the output only.
data_output.head()

0    0
1    0
2    1
3    1
4    1
Name: PlayTennis, dtype: int64

## Deal with Numerical data in Navie_Bayes

In [16]:
# Import GaussianNB that deal with Numerical data.
# Secound type of naive_bayes that deal with numerical data only.

from sklearn.naive_bayes import GaussianNB

## Train, Validation and Testing model

In [17]:
# Take object from GaussianNB.
gaussian_nb = GaussianNB()

# Train Model.
gaussian_nb.fit(data_input, data_output)

# Predict the value of ouptut.
y_pred = gaussian_nb.predict(data_input)

# Calculate the accuracy of model.
accuracy_score(data_output, y_pred)

0.7142857142857143

In [18]:
data_encoded.head()

  Day  Outlook  Temperature  Humidity  Wind  PlayTennis
0  D1        0           85        85     0           0
1  D2        0           80        90     1           0
2  D3        1           83        86     0           1
3  D4        2           70        96     0           1
4  D5        2           68        80     0           1

In [19]:
# Split dataset to input and output.
X = data_encoded.drop(columns = ['Day','PlayTennis'])
y = data_encoded['PlayTennis']

X.head()

   Outlook  Temperature  Humidity  Wind
0        0           85        85     0
1        0           80        90     1
2        1           83        86     0
3        2           70        96     0
4        2           68        80     0

In [20]:
y.head()

0    0
1    0
2    1
3    1
4    1
Name: PlayTennis, dtype: int64

## Install library to use data Mixed between Categorical and Numerical

In [22]:
# Import external library to use mixed_naive_bayes.
!pip install mixed-naive-bayes

Collecting mixed-naive-bayes
  Using cached mixed_naive_bayes-0.0.3-py3-none-any.whl (11 kB)
Requirement already satisfied: scikit-learn>=0.20.2 in c:\users\tech\anaconda3\lib\site-packages (from mixed-naive-bayes) (1.0.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\tech\anaconda3\lib\site-packages (from mixed-naive-bayes) (1.22.4)
Requirement already satisfied: scipy>=1.1.0 in c:\users\tech\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\tech\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\tech\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (1.1.0)
Installing collected packages: mixed-naive-bayes
Successfully installed mixed-naive-bayes-0.0.3

In [23]:
# The third type of naive_bayes is MixedNB ==> Use gathering between numerical and categorical.
from mixed_naive_bayes import MixedNB

In [24]:
# Take object from MixedNB.
# categorical_features to specefic the categorical data from dataset.
# Take the index of categorical data.

mixed_nb = MixedNB(categorical_features = [0, 3])

# Train Model.
mixed_nb.fit(X, y)

MixedNB(alpha=0.5, var_smoothing=1e-09)

In [25]:
# Predict the values of output.
y_pred = mixed_nb.predict(X)

# Calculate accuray of Model.
accuracy_score(y, y_pred)

0.9285714285714286